.AttendanceBox{
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: center;
    align-items: center;
    width: 50%;
    box-shadow: rgb(251, 251, 251) -10px -10px 16px 0px, rgb(215, 215, 215) 10px 10px 16px 0px, rgb(251, 251, 251) 2px 2px 4px 0px inset, rgb(215, 215, 215) -2px -2px 4px 0px inset;
    background-color: rgb(239, 239, 239);
    overflow-y: scroll;
}
.ChartContainer{
    display: flex;
    flex-direction: column;
}

.ChartEntrance{
    margin-bottom: 50px;
}

.ClassPieChart{
    margin-bottom: 50px;
}

.ProgressCircle{
   text-align: center;
}

