.TopDisplayWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 200px;
}

.Student_Numbers{
    margin: 50px;
    display: flex;
    justify-content: center;
    background-color: aqua;
    position: fixed;
    z-index: 10;
    width: 100%;
    left: 0;
    top: 0;
    margin-left: .1px;
    box-shadow: 0px 5px 20px 0px grey;
}

.Num{
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

.AttendanceWrapper{
    display: grid;
    justify-content: center;
}

.AttendanceBox{
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: rgb(251, 251, 251) -10px -10px 16px 0px, rgb(215, 215, 215) 10px 10px 16px 0px, rgb(251, 251, 251) 2px 2px 4px 0px inset, rgb(215, 215, 215) -2px -2px 4px 0px inset;
    background-color: rgb(239, 239, 239);
    overflow-y: scroll;
    text-align: center;
}

.NumOfCalls{
    background-color: rgba(49, 230, 49, 0.856);
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    margin-top: 1px;
    
}

.HomePageOptions{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 10px;
    margin: 10px;
}

.SortField{
    margin-top: -10px;
}

.TextField{
    margin: 10px;
}

.PresentList{
    border: 2px solid gray;
    border-radius: 5px;
    height: 100px;
    margin: 20px;
    width: 300px;
    overflow-y: scroll;
}

.ChartContainer{
    display: flex;
    flex-direction: column;
}

.ChartEntrance{
    margin-bottom: 50px;
}

.ClassPieChart{
    margin-bottom: 50px;
}

.ProgressCircle{
   text-align: center;
}

@media(max-width: 600px){
    .Num{
        font-size: 12px;
        margin: 0;
        padding: 15px;
    }

    .AttendanceBox{
        margin-left: -10px;
    }

    .HomePageOptions{
        flex-direction: column;
    }
}