.body{
  background: linear-gradient( #36d1dc , #5b86e5);
  min-height: 100vh;    
}
.Login_Box{
  background: white;
  border: 2px solid;    
  position: absolute;
  left: 25%;
  bottom: 25%;
  width: 40%;
  height: 40%;
  margin: 70px 70px;
  padding: 50px 50px;
  text-align: center;
  border-radius: 90px;
}


* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

button:hover {
    cursor: pointer;
}

.LoginBody {
  width: 100%;
  margin: 0 auto;
}
button {
  outline: none !important;
  
}
.LoginBackground {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #ec3ab7, #41c7d0);
}

.LoginWrap {
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 177px 130px 33px 95px;
}

.LoginImg {
  width: 420px;
  
}

.Presec_Logo{
  width: 400px;
  height: 300px;
}

.Presec_Logo:hover{
  transition: 1s ease-in-out;
  transform: scale(1.1);
}

.login100-pic img {
  max-width: 200%;
}

.LoginForm {
  width: 290px;
  height: 400px;
}

.AppTitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  font-weight: bold;
  padding-bottom: 54px;
}

.LoginInput{
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.Input {
  outline: none;
  border: none;
   width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 0 30px 0 68px;
}

.InputFocus {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(11, 83, 218, 0.8);
}

.Input:focus + .InputFocus {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #57b846;
  padding-left: 28px;
}

.LoginBtnContainer {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.LoginBtn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  border: none;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.LoginBtn:hover {
  background: #57b846;
  opacity: 0.5;
}

@media (max-width: 992px) {
  .wrap-login100 {
    padding: 177px 90px 33px 85px;
  }

  .login100-pic {
    width: 35%;
  }

  .login100-form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .LoginWrap{
    padding: 100px 80px 33px 80px;
  }

  .LoginImg {
    display: none;
  }

  .LoginForm {
    width: 100%;
  }
}
